@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {

    --bg-color: #e5cba2;
    --second-bg-color: #333;
    --text-color: rgb(0, 0, 0);
    --main-color: #007bff; 

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--second-bg-color);
    height: 100vh;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(transparent);
    display: flex;
    justify-content: space-between;
    z-index: 100;
    transition: .3s;
}

.header.sticky{
    background: var(--bg-color);
}

.navbar {
    position: relative;
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
    margin-left: 20px;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover, .navbar a.active {
    color:var(--main-color) ;

}





section {
    min-height: 70vh;
    padding: 10rem 9% 2rem;
    
}

.home{
    display: flex;
    z-index: 2;
    align-items: center;
    height: 100vh;
    padding: 0 0%;
    background: var(--bg-color);
    overflow: hidden;
}

#info{
    
}


.home-content{
    max-width: 90rem;
    z-index: 99;
    
}

.home-content .content {
    max-width: 90rem;
    z-index: 99;
    padding-left: 20%;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.start-button {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #0056b3;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: var(--second-bg-color);
}



#container3D{
    position: absolute;
    inset: 0;
    
    pointer-events: none;
}



.spacer {
    aspect-ratio: 960/200;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('./resourcess/wave1.svg');
}


.wave {
 
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 4;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 177px;
}

.wave .shape-fill {
    fill: var(--bg-color);
}

.contact{
    flex-direction: column;
}


#contact{
    background-color: var(--second-bg-color);
}

.info-content{
    width: 100%;
}

.info{
    height: 400vh;
    position: relative;
    background-color: var(--bg-color);
    
}

#info2{
    background-color: rebeccapurple;
}











.parallax {
    position: relative;
    min-height: 100vh;
    justify-content: center;
    
    overflow: hidden;
    
}

.parallax  h1{
    position: absolute;
    font-size: 5em;
    text-align: center;
    text-shadow: 2px 4px 5px #67c8ce;
    max-width: 20vw;
    transform: translateY(-4vw);
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    
}

#sand2{
    transform: translateY(10vh);
    
}

#sand{
    position: fixed;
}

#tree2-left {
    position: fixed;
}

#tree3-right {
    position: fixed;
}






.banner{
    width: 100%;
    height: 200vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 30%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
    opacity: 1;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .content{
    position: fixed;
    bottom: 0;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
    opacity: 0;
    transition: top 0.5s ease-in-out;
}
.banner .content h1{
    font-family: 'ICA Rubrik';
    font-size: 16em;
    line-height: 1em;
    color: #25283B;
    position: relative;
}
.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #7a7373;
    color: transparent;
}
.banner .content .author{
    font-family: Poppins;
    text-align: right;
    max-width: 200px;
}
.banner .content h2{
    font-size: 3em;
}
.model {
    background-image: url('resourcess/cpuple-Photoroom.png');
    width: 100%;
    height: 75vh;
    bottom: 0;
    left: 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    position: fixed;
    pointer-events: none;
}

.info .info-content .text1, .text2{
    padding: 10rem;
}

.info .info-content .text1, .text2 h1{
    font-size: 4rem;
    color: var(--second-bg-color);
}

.info .info-content .text1, .text2 p{
    font-size: 2rem;
    color: var(--second-bg-color);
}

.hidden {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
  }
  
  .text1, .text2 {
    width: 100%;
  }
  
  .text1 {
    text-align: left;
    direction: ltr; 
  }
  
  .text2 {
    text-align: right;
    direction: rtl; 
  }


.animate{
    transition: 1s;
}

.text1 .animate{
    transform: translateX(-100%);
}

.text1.show-animate .animate{
    transform: translateX(0);
}



.text2 .animate{
    transform: translateX(100%);
}

.text2.show-animate .animate{
    transform: translateX(0);
}



.slider .animate{
    transform: scale(0);
    transition: 2s;
}

.slider.show-animate .animate{
    transform: scale(.5);
}



#bg_city{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}

#bg_city svg{
    width: 100%;
    height: 100%;
    object-position: center;
}


    
    

@media screen and (max-width: 1023px) {
    .banner .slider{
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }
    .banner .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(300px);
    }
    .banner .content h1{
        text-align: center;
        width: 100%;
        text-shadow: 0 10px 20px #000;
        font-size: 7em;
    }
    .banner .content .author{
        color: #fff;
        padding: 20px;
        text-shadow: 0 10px 20px #000;
        z-index: 2;
        max-width: unset;
        width: 100%;
        text-align: center;
        padding: 0 30px;
    }
}
@media screen and (max-width: 767px) {
    .banner .slider{
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }
    .banner .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(180px);
    }
    .banner .content h1{
        font-size: 5em;
    }
}