@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {

    --bg-color: #e5cba2;
    --second-bg-color: #333;
    --text-color: rgb(0, 0, 0);
    --main-color: #007bff; 

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--second-bg-color);
    height: 100vh;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(transparent);
    display: flex;
    justify-content: space-between;
    z-index: 100;
    transition: .3s;
}

.header.sticky{
    background: var(--bg-color);
}

.navbar {
    position: relative;
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
    margin-left: 20px;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover, .navbar a.active {
    color:var(--main-color) ;

}





section {
    min-height: 70vh;
    padding: 10rem 9% 2rem;
    
}

.home{
    display: flex;
    position: relative;
    align-items: center;
    height: 100vh;
    padding: 0 0%;
    background: var(--bg-color);
    overflow: hidden;
}


.home-content{
    max-width: 90rem;
    z-index: 99;
    
}

.home-content .content {
    max-width: 90rem;
    z-index: 99;
    padding-left: 20%;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.start-button {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #0056b3;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: var(--second-bg-color);
}



#container3D{
    position: fixed;
    inset: 0;
    z-index: 100;
    pointer-events: none;
}



.spacer {
    aspect-ratio: 960/200;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('./resourcess/wave1.svg');
}


.wave {
 
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 177px;
}

.wave .shape-fill {
    fill: var(--bg-color);
}

.contact{
    flex-direction: column;
}


#contact{
    background-color: var(--second-bg-color);
}

.info-content{
    width: 100%;
}

.info{
    height: 75vh;
    background-color: var(--bg-color);
}











.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/resourcess/9.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    
}

.parallax  h1{
    position: absolute;
    font-size: 5em;
    text-align: center;
    text-shadow: 2px 4px 5px #67c8ce;
    max-width: 20vw;
    transform: translateY(-4vw);
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    
}

#sand2{
    transform: translateY(10vh);
}

#sand{
    position: fixed;
}

#tree2-left {
    position: fixed;
}

#tree3-right {
    position: fixed;
}